{% extends 'master.html.twig' %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="jumbotron">
        <div class="container">
          <h1>PHP-MVC</h1>
          <p>{{ modules.ExampleModule.HelloWorldMessage|raw }}</p>
          <p>
            <a class="btn btn-primary btn-lg" href="/about">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}