{% extends 'master.html.twig' %}

{% block title %}
  About PHP-MVC
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <h1>About PHP-MVC</h1>
      <hr>
      <h4>
        PHP-MVC is a for-fun project by Matt Arnold 
        <a href="https://github.com/mattarnster">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://twitter.com/mattarnster">
          <i class="fa fa-twitter"></i>
        </a>
      </h4>
      <blockquote>
        I started this project to see if what I already knew from using frameworks like Laravel,
        if I could start to build my own PHP MVC framework.
        From where I started out on this project, I had never envisioned being able to integrate the popular templating engine Twig with PHP-MVC.
      </blockquote>
    </div>
  </div>
{% endblock %}