{% extends 'master.html.twig' %}

{% block content %}
  <p>Test for posts display:</p>
  {% for post in posts %}
    <div class="panel panel-info">
      <div class="panel-body">
         <article>
          <h4>Title: {{ post.post_title }}</h4>
          <p>{{ post.post_text }}</p>
          <footer>Posted at: <em> {{ post.post_created_at }}</footer>
        </article>
      </div>
    </div>
  {% endfor %}
{% endblock %}