<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#">PHP-MVC</a>
  <ul class="nav navbar-nav">
    <li class="">
      <a href="/">Welcome</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/posts">Posts</a>
    </li>
  </ul>
</nav>